

<div id='design-tab'>
<div class="pad">
	<div class="pad-content" style="padding:.2em;">
		<div id='canvas_holder'>
			<canvas id="cdesigner" style="display:block; height:100%; width:100%;"></canvas>

			<div id="fragment_clipping" style='display:none;'></div>

			<div class="fragment-info ui-corner-all" style='display:none;'>
				<div class="fragment-data">
					<h3 id="fragment_name">Name</h3>
					<p id="fragment_desc">Description</p>
				</div>
				<div>
					<button id="fragment_clip">Clipping</button>
					<button id="fragment_remove">Remove</button>
				</div>
			</div>

		</div>
        <div id='frag_select_holder'>
            <div class="btn-group" style="white-space:normal">
                <button class="btn" type="button" id="download_sbol">Download SBOL</button>
                <button class="btn" type="button" id="download_genbank">Download GenBank</button>
                <button class="btn" type="button" onclick="primersAutoProcess = true;jQuery('#tabs').tabs('option', 'active', 3);">Next</button>
            </div>
            <div id='frag_select'>
                {%include 'fragment/jFragmentSelector.html' %}
            </div>
        </div>
        <div style="clear:both"></div>
	</div>
</div>
</div>


<script type='text/javascript'>
    var g_designer = null;
    var expressionPlasmids = 0;
    var plasmidBackbones = 0;

    function warnConstruct() {
        if (!plasmidBackbones && !expressionPlasmids)
            showError("<strong>WARNING:</strong>There is no plasmid backbone in the construct. The construct will not be able to replicate and propagate to daughter cells.", "error");
        else if (!expressionPlasmids)
            showError("<strong>WARNING:</strong>There is no expression backbone in the construct. The NRPS will not be produced.", "warning");
        else
            hideError();
    }

    function addCb(fragment)
    {
        fragment.getMeta(function(meta) {
            if ('annots' in meta && 'part_type' in meta['annots']) {
                var ptype = meta['annots']['part_type'].toLowerCase();
                if(ptype == 'expression plasmid')
                    ++expressionPlasmids;
                else if (ptype == 'plasmid backbone')
                    ++plasmidBackbones;
            }
            warnConstruct();
        });
    }

    function rmCb(fragment)
    {
        fragment.getMeta(function(meta) {
            if ('annots' in meta && 'part_type' in meta['annots']) {
                var ptype = meta['annots']['part_type'].toLowerCase();
                if(ptype == 'expression plasmid')
                    --expressionPlasmids;
                else if (ptype == 'plasmid backbone')
                    --plasmidBackbones;
            }
            warnConstruct();
        });
    }

	jQuery(window).ready( function() {
		//tabs

        //load designer
        g_designer = new Designer(jQuery('#cdesigner'),{{construct.id}}, addCb, rmCb);
        //Make the selector and equalise the height
        jQuery('#frag_select').jFragmentSelector({
            containment: jQuery('.pad-content'),
            categories: new Array("{{part_types|join:'","'}}"),
        }).jFragmentSelector('height', jQuery('#cdesigner').height());
	});


        var update = function(modified){
			if(modified != undefined) {
		jQuery('#status').text(modified);
		}
		}
		jQuery(function(){
            jQuery("#download_sbol").click(function(){
                window.location.href='{% url 'gibson.views.download_sbol' construct.pk %}';
            });
            jQuery("#download_genbank").click(function(){
                window.location.href='{% url 'gibson.views.download_genbank' construct.pk %}';
            });
        });

</script>


