{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/designer.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/primers.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/formtools.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/jFragment.css" />
{% endblock %}

{% block js-include %}
<script src="{{ STATIC_URL }}/js/formtools.js" type="text/javascript"></script>

<script src="http://code.createjs.com/easeljs-0.4.2.min.js"></script>
<script src="http://code.createjs.com/tweenjs-0.2.0.min.js"></script>

<script src="{{ STATIC_URL }}/js/libfrag.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/libdesigner.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/designer.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/ajax.js" type="text/javascript"></script>

{% endblock %}


{% block content %}
<div>
	
	<div class="content center full-width">
		<div id='tabs' class='left'>
			<ul>

				<li>
					<a href="#design-tab" class='tab-link'>
						<span class='ui-icon ui-icon-pencil tab-icon'></span>
						Designer
					</a>
				</li>
				<li>
					<a href="{% url 'guiTool' 5 %}" class='tab-link'>
						<span class='ui-icon ui-icon-transferthick-e-w tab-icon'></span>
						SAUCE
					</a>
				</li>
				<li>
					<a href="settings/" class='tab-link'>
						<span class='ui-icon ui-icon-wrench tab-icon'></span>
						Settings
					</a>
				</li>
				<li>
					<a href="summary/" class='tab-link'>
						<span class='ui-icon ui-icon-script tab-icon'></span>
						Summary
					</a>
					
				</li>
				<li>
					<a href="primers/" class='tab-link'>
						<span class='ui-icon ui-icon-transferthick-e-w tab-icon'></span>
						Primers
					</a>
				</li>
	
			</ul>
            <div id='design-tab'>
                {% include 'gibson/designtab.html' %}
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block dialog %}
<div id='confirm_delete' style='display:none'>
	<div id='delete_contents'>
		<div style="text-align:center;margin-top:1.5em;">
			<p>Are you sure you want to delete this construct?</p>
		<div>
		<div>
			<button id="cancel-delete">Cancel</button>
			<button id="confirm-delete">Delete</button>
		</div>
	</div>
</div>

<div id='primer_dlg' style='display:none'></div>

<div id='walkthrough_dlg' style='display:none'></div>

{% endblock %}

{% block js %}
<script type='text/javascript'>

    //global designer
    var g_designer = null;

	jQuery(window).ready( function($) {
		//tabs
		$( "#tabs" ).tabs({
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"<p>ERROR: Failed to load this tab, status: " + status + " </p>");
				}
			}
		});
		
		$('#confirm_delete').dialog({
			autoOpen:false,
			resizable:false,
			modal:true,
			title:"Confirm Deletion",
			close:function () {
			},
			height:"auto",
			width:"580",
		});

        $('#walkthrough_dlg').dialog({
            autoOpen:false,
            modal:true,
            title:"A Quick Tour of the GCD",
            resizable: false,
            draggable: false,
            width: 800,
        });

        $('#walkthrough_lnk').mousedown(function(){
            $('#walkthrough_dlg')
                .load('/gibthon/walkthrough/')
                .dialog('option', 'height', 
                    0.9 * $(window).height())
                .dialog('option', 'position', 
                    ['center', 0.05 * $(window).height()])
                .dialog('open');
            return false;
        });
		
		$('a#download').button({
			icons:{primary:'ui-icon-link'}
		});
		$('a#constructs').button({
			icons:{primary:'ui-icon-note'}
		});
		$('#delete_btn').button({
			icons:{primary:'ui-icon-trash'}
		}).click( function() {
			$('#confirm_delete').dialog('open');
		});
		
		$('#cancel-delete').button({
			icons: {primary: 'ui-icon-cancel'},
		}).click( function() {$('#confirm_delete').dialog('close');});
		$('#confirm-delete').button({
			icons: {primary: 'ui-icon-trash'},
		}).click( function() {
			window.location = 'delete/';
		});
		
		$('#meta_form').magicForm({
            //don't automatically submit
            submit_on_save: false,
			save: function(e, data) {
                var name = $('#c_name').text();
                var desc = $('#desc_text').text();
                g_designer.setName(name);
                g_designer.updateStage();
                g_designer.getConstruct().saveMeta(name, desc);
                console.log('setMeta('+name+', '+desc+')');
			},
		});
		
        //load designer
        g_designer = new Designer($('#cdesigner'),{{construct.id}});
        //Make the selector and equalise the height
        $('#frag_select').jFragmentSelector({
            containment: $('.pad-content'),
        }).jFragmentSelector('height', $('#cdesigner').height());
	/*Process tab*/
	/*	$('#progress_bar').progressbar({ value: 0 });
	
		$('#process').button({
			icons: {primary: 'ui-icon-wrench'},
		}).click( function() {
			$('#process').button('disable');
			$('#tabs').tabs('disable');
			
			$.ajax( {
				url: 'process/',
				success: function(data){
					
					console.log('success...');
					
					var prog = parseInt(/:\d{1,3}/.match(data)[0].substr(1));
					
					console.log('  prog: ' + prog);
					$('#progress_bar').progressbar('value', prog);
					if(prog == 100)
					{
						$('#tabs').tabs('load', 3);
					}
				},
			});
			
		});*/
	});

var update = function(modified){
	if(modified != undefined) {
		jQuery('#status').text(modified);
	}
}

</script>
{% endblock %}
