

<div id='design-tab'>
<div class="pad">
	<div class="pad-content" style="padding:.2em;">
		<div id='canvas_holder'>
			<canvas id="cdesigner" style="display:block; height:100%; width:100%;"></canvas>

			<div id="fragment_clipping" style='display:none;'></div>

			<div class="fragment-info ui-corner-all" style='display:none;'>
				<div class="fragment-data">
					<h3 id="fragment_name">Name</h3>
					<p id="fragment_desc">Description</p>
				</div>
				<div>
					<button id="fragment_clip">Clipping</button>
					<button id="fragment_remove">Remove</button>
				</div>
			</div>

		</div>
        <div id='frag_select_holder'>
            <div class="btn-group">
                <button class="btn" type="button" id="download_sbol">Download SBOL</button>
                <button class="btn" type="button" id="download_genbank">Download GenBank</button>
            </div>
            <div id='frag_select'>
                {%include 'fragment/jFragmentSelector.html' %}
            </div>
        </div>
        <div style="clear:both"></div>
	</div>
</div>
</div>


<script type='text/javascript'>
    var g_designer = null;


	jQuery(window).ready( function() {
		//tabs

        //load designer
        g_designer = new Designer(jQuery('#cdesigner'),{{construct.id}});
        //Make the selector and equalise the height
        jQuery('#frag_select').jFragmentSelector({
            containment: jQuery('.pad-content'),
            categories: new Array("Expression Plasmid", "Plasmid Backbone", "Promoter", "RBS", "Terminator"),
        }).jFragmentSelector('height', jQuery('#cdesigner').height());
	});


        var update = function(modified){
			if(modified != undefined) {
		jQuery('#status').text(modified);
		}
		}
		jQuery(function(){
            jQuery("#download_sbol").click(function(){
                window.location.href='{% url 'gibson.views.download_sbol' construct.pk %}';
            });
            jQuery("#download_genbank").click(function(){
                window.location.href='{% url 'gibson.views.download_genbank' construct.pk %}';
            });
        });

</script>


