{% load staticfiles %}
<div id='process_wrap'>
    <div id='processing' class='center'
        style='margin-top:1.5em;visibility:hidden;'>
        <img src="{% static 'images/spinner.gif' %}" />
        <h4>Working...</h4>
    </div>
	<div id='process_progress' style='width:80%;margin-left:auto;margin-right:auto;margin-top:2em;'>
	</div>

    {% if not construct.fragments.all %}
        <ul class='errorlist' style='text-align:center;'>
            <li>
            There are no fragments in this construct yet - add them in the
            designer tab
            </li>
        </ul>
    {% endif %}
	<div style='text-align:center;margin-top:1em;'>
		<button id='process_btn'>Design primers</button>
	</div>
</div>

<script type='text/javascript'>
function makeHttpObject() {
	try {return new XMLHttpRequest();}
	catch (error) {}
	try {return new ActiveXObject("Msxml2.XMLHTTP");}
	catch (error) {}
	try {return new ActiveXObject("Microsoft.XMLHTTP");}
	catch (error) {}

	throw new Error("Could not create HTTP request object.");
}

jQuery(window).ready( function() {
	jQuery('#process_progress').progressbar({'value': 0,});

	jQuery('#process_btn').button({
		icons: {primary: 'ui-icon-gear',},
        {% if not construct.fragments.all %}
        disabled: true,
        {% endif %}
	}).click( function() {
        //make sure there's an immidiate response - less frustration
        jQuery(this).button('disable');
        jQuery('#processing').css('visibility', 'visible');

		var h = makeHttpObject();
		h.open('GET', "{% url 'process' construct.pk %}", true)
		h.onreadystatechange = function (){
			p = parseInt(this.responseText.split(':').pop());
			jQuery('#process_progress').progressbar('value', p);
			if (p==100 && this.readyState == 4){
				//location.reload()
				//jQuery( "#tabs" ).tabs( "option", "active", 4 );
				jQuery("#tabs").tabs("load","primerTab")
			}
		}
		h.send(null);
	});
});

</script>
