<div style="width:100%; padding:10px; height:25px;" class="ui-widget-header ui-corner-top">
	<div style="float:right;"><button id="settings">Submit</button></div>
	<div style="float:right; margin-right:10px;"><button id="cancel">Cancel</button></div>
	Settings
</div>
<div id="settings" style="width:100%; padding:10px;" class="ui-widget-content ui-corner-bottom">
	<form action="settings" method="post">
	{% csrf_token %}
	<table id="settings_table">
		<tr>
			<td style="width:170px;">Mg<sup>2+</sup> concentration:</td>
			<td>{{ form.mg_salt }} M</td>
		</tr>
		<tr>
			<td>Na<sup>+</sup> concentration:</td>
			<td>{{ form.na_salt }} M</td>
		</tr>
		<tr>
			<td>Secondary structure safety margin:</td>
			<td>{{ form.ss_safety }}&deg;C</td>
		</tr>
		<tr>
			<td>Target annealing temperature:</td>
			<td>{{ form.min_anneal_tm }}&deg;C</td>
		</tr>
		<tr>
			<td>Target primer annealing temperature:</td>
			<td>{{ form.min_primer_tm }}&deg;C</td>
		</tr>
		<tr>
			<td>Minimum overlap:</td>
			<td>{{ form.min_overlap }} bp</td>
		</tr>
	</table>
	</form>
</div>
<script type="text/javascript">
jQuery(document).ready( function () {
	jQuery('button').button('disable');
	jQuery('#fragment_list').accordion('disable').sortable('disable');
	jQuery('button#settings')
		.button({
			icons:{primary:'ui-icon-check'}
		})
		.click(function(event) {
			jQuery.post('settings', jQuery('form[action^="settings"]').serialize());
			jQuery('button').button('enable');
			jQuery('#fragment_list').accordion('enable').sortable('enable');
			jQuery('#settings-wrapper').load('settings')
		});
	jQuery('button#cancel')
		.button({
			icons:{primary:'ui-icon-close'}
		})
		.click(function(event) {
			jQuery('button').button('enable');
			jQuery('#fragment_list').accordion('enable').sortable('enable');
			jQuery('#settings-wrapper').load('settings')
		});
});
</script>