{% load staticfiles %}
<script type="text/javascript">
var fragment_base_url = '{% url 'fragment.views.fragments' %}';
var fragment_api_url = fragment_base_url + 'api/';
</script>
<div class='JFS'>
    <div>
        <h3>Available Fragments</h3>
    </div>
    <div class='JFS_panel center'>
        <div class='JFS_filterHolde'>
            <input id='JFS_filter' type='text'></input>
            <p class='unselectable' unselectable=on>filter</p>
        </div>
    </div>
    <div class='JFS_panel'>
        <p class='right JFS_count'><span id='JFS_num_items'>0</span> items</p>
        <div class='JFS_fragViewS'>
            <div id='JFS_loading' class='center'>
                <img src='{% static "images/spinner.gif" %}' alt='Loading' />
                <h3>Loading Fragments...</h3>
            </div>
        </div>
    </div>
</div>
