{% extends "base.html" %}

{% block css-include %}

{% endblock %}

{% block js-include %}
{% load staticfiles %}
<script language="JavaScript" type="text/javascript" src="{% static "js/BioJS/Biojs.js" %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static "js/BioJS/Biojs.Sequence.js" %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static "js/BioJS/Biojs.Tooltip.js" %}"></script>
{% endblock %}


{% block content %}

<form action="" method="post">{% csrf_token %}
{{ formset.management_form }}

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
For each of the domains you choose below, a new construct will be created based on the left and right boundary (Protein coordinates, amino acids) you define in the adjacent input boxes. Use the corresponding <i class="icon-refresh"></i>  button in order to get a graphical view of the domain you want to modify (domain is highlighted in green, whole protein which includes the domain is shown) and select new boundaries by dragging mouse.</div>


{% for form in formset %}
      <div class="formSet">
          {{ form.errors}}
          {{ form.domain }}
          {{ form.left_boundary }}
          {{ form.right_boundary }}
          <button class="seqBtn btn btn-link" type="button"><i class="icon-refresh"></i>
</button>
      </div>

{% endfor %}
<br/>
<br/>

<div id="leftBioJsSequenceDiv" style="height:250px; overflow-y:auto"></div>
<input class="btn" type="submit" value="Create Library" />
</form>
{% endblock %}


{% block js %}
<script type='text/javascript'>



jQuery(document).ready(function() {

function formsetAdded() {
	lastForm = jQuery(".formSet")[jQuery(".formSet").length-1]
  	domainOrder = jQuery(lastForm).closest(".formSet").find("select").val()
  	tmp = jQuery(lastForm).closest(".formSet").find("input")
  	leftBoundary = jQuery(tmp[0])
  	rightBoundary = jQuery(tmp[1])
  	showLeftBioJsSequence(domainOrder, leftBoundary, rightBoundary);
 }

  jQuery(".formSet").formset({addText:'<i class="icon-plus"></i>',
        deleteText:'<i class="icon-remove"></i>',
      });

  jQuery(document).on('click','.seqBtn',function(){
  	domainOrder = jQuery(this).closest(".formSet").find("select").val()
  	tmp = jQuery(this).closest(".formSet").find("input")
  	leftBoundary = jQuery(tmp[0])
  	rightBoundary = jQuery(tmp[1])
  	showLeftBioJsSequence(domainOrder, leftBoundary, rightBoundary);

  });




leftSequence = new Biojs.Sequence();


 function showLeftBioJsSequence(domainOrder, leftBoundary, rightBoundary) {
    if (typeof(leftSequence)!== "undefined"){
        leftSequence.clearSequence()
        jQuery.get("{% url 'getDomainOrderBioJsSequence' %}", 
            {domainOrderId: domainOrder}, 
            function(data) {
                if (data[0] !== -1) {
                    bioJsData = data[1];
                    bioJsData.columns = {'size':100};
                    bioJsData.target = "leftBioJsSequenceDiv";
                    bioJsData.format = "FASTA"
                    bioJsData.protein = true
                    bioJsData.formatSelectorVisible = false
                    leftSequence = new Biojs.Sequence(bioJsData)
                    leftSequence.onSelectionChange(
                            function( objEvent ) {
               			leftBoundary.val(objEvent.start);
               			rightBoundary.val(objEvent.end)
                    });
      
                }
        });
    }
}


})


</script>
{% endblock %}
