{% extends "base.html" %}

{% block css-include %}

{% endblock %}

{% block js-include %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/BioJS/Biojs.js" %}"></script>
<script type="text/javascript" src="{% static "js/BioJS/Biojs.Sequence.js" %}"></script>
<script type="text/javascript" src="{% static "js/BioJS/Biojs.Tooltip.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.scrollTo.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/biojs_helper.js" %}"></script>
{% endblock %}


{% block content %}

<form action="" method="post">{% csrf_token %}
{{ formset.management_form }}

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
For each of the domains you choose below, a new construct will be created based on the left and right boundary (Protein coordinates, amino acids) you define in the adjacent input boxes. Use the corresponding <i class="icon-refresh"></i>  button in order to get a graphical view of the domain you want to modify (domain is highlighted in green, whole protein which includes the domain is shown) and select new boundaries by dragging mouse.</div>


{% for form in formset %}
      <div class="formSet">
          {{ form.errors}}
          {{ form.domain }}
          {{ form.left_boundary }}
          {{ form.right_boundary }}
          <button class="seqBtn btn btn-link" type="button"><i class="icon-refresh"></i>
</button>
      </div>

{% endfor %}
<br/>
<br/>

<div id="leftBioJsSequenceDiv" style="height:250px; overflow-y:auto"></div>
<input class="btn" type="submit" value="Create Library" />
</form>
{% endblock %}


{% block js %}
<script type='text/javascript'>



jQuery(document).ready(function() {

var lb;
var rb;

var seq = new BiojsSequenceHelper({
        target: "leftBioJsSequenceDiv",
        url: "{% url 'getDomainOrderBioJsSequence' %}",
        onSelectionChange: function( objEvent ) {
                lb.val(objEvent.start);
                rb.val(objEvent.end);
        }
});

jQuery(".formSet").formset({addText:'<i class="icon-plus"></i>',
    deleteText:'<i class="icon-remove"></i>',
    });

jQuery(document).on('click','.seqBtn',function(){
    domainOrder = jQuery(this).closest(".formSet").find("select").val()
    tmp = jQuery(this).closest(".formSet").find("input")
    lb = jQuery(tmp[0])
    rb = jQuery(tmp[1])
    seq.showBioJsSequence({domainOrderId: domainOrder});
});

});


</script>
{% endblock %}
