{% extends "base.html" %}

{% block css-include %}

{% endblock %}

{% block js-include %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/BioJS/Biojs.js" %}"></script>
<script type="text/javascript" src="{% static "js/BioJS/Biojs.Sequence.js" %}"></script>
<script type="text/javascript" src="{% static "js/BioJS/Biojs.Tooltip.js" %}"></script>

<script type="text/javascript" src="{% static "js/jquery.scrollTo.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/biojs_helper.js" %}"></script>

<script src="{% static "js/django-superformset.js" %}"></script>
{% endblock %}


{% block content %}

<form action="" method="post" id="createBoundaryLibraryForm">
{% csrf_token %}

<div class="alert alert-info">
<button type="button" class="close" data-dismiss="alert">&times;</button>
For each of the domains you choose below, a new construct will be created based on the left and right boundary (Protein coordinates, amino acids) you define in the adjacent input boxes. Use the corresponding <i class="icon-refresh"></i>  button in order to get a graphical view of the domain you want to modify (domain is highlighted in green, whole protein which includes the domain is shown) and select new boundaries by dragging mouse.</div>

<div class="row-fluid" id="createBoundaryLibraryContainer">
{{ formset.management_form }}
{% for form in formset %}
<div class="formSet">
{{ form.errors}}
{{ form.parent }}
{{ form.linker }}
{{ form.left_boundary }}
{{ form.right_boundary }}
<button class="seqBtn btn btn-link" type="button"><i class="icon-refresh"></i>
</button>
</div>
</div>
{% endfor %}

<div class="row-fluid">
    <div id="leftBioJsSequenceDiv" style="height:250px; overflow-y:auto" class="span6"></div>
    <div id="rightBioJsSequenceDiv" style="height:250px; overflow-y:auto" class="span6 ofset2"></div>
</div>
<input class="btn" type="submit" value="Create Library" />
</form>
{% endblock %}


{% block js %}
<script type='text/javascript'>



jQuery(document).ready(function() {

    var lb;
    var rb;

    var lseq = new BiojsSequenceHelper({
        target: "leftBioJsSequenceDiv",
        url: "{% url 'getDomainOrderBioJsSequence' %}",
        onSelectionChanged: function( objEvent ) {
            lb.val(objEvent.start);
        }
    });
    var rseq = new BiojsSequenceHelper({
        target: "rightBioJsSequenceDiv",
        url: "{% url 'getDomainOrderBioJsSequence' %}",
        onSelectionChanged: function( objEvent ) {
            rb.val(objEvent.start);
        }
    });

    var fs = jQuery("#createBoundaryLibraryContainer").superformset({
        addTrigger:'<button class="btn btn-link" type="button"><i class="icon-plus"></i></button>',
        deleteTrigger:'<button class="btn btn-link" type="button"><i class="icon-remove"></i></button>',
        rowSel: ".formSet",
        formTemplate: ".formSet:last",
        canDelete: true,
        insertBelowTrigger: '<button class="btn btn-link insertIndented" type="button"><i class="icon-plus"></i></button>',
        insertBelow: true,
        addedCallback: function(row) {
            if (jQuery(this).hasClass("insertIndented")) {
                var triggerRow = jQuery(this).closest('.formSet');
                var parentIndenting = triggerRow.data("indentLevel");
                if (parentIndenting == undefined) {
                    parentIndenting = 0;
                    triggerRow.data("indentLevel", parentIndenting)
                }
                row.data("indentLevel", ++parentIndenting);
                row.css("margin-left", parentIndenting * 20 + "px");
            }
        }
    });

    jQuery(document).on('click','.seqBtn',function(){
        var domainOrder = jQuery(this).closest(".formSet").find("select").val()
        var leftdomain = parseInt(domainOrder.substr(1))
        var rightdomain = parseInt(domainOrder.substr(domainOrder.indexOf(',') + 1))
        var tmp = jQuery(this).closest(".formSet").find("input[type=text]");
        lb = jQuery(tmp[0])
        rb = jQuery(tmp[1])
        lseq.showBioJsSequence({domainOrderId: leftdomain}, lseq.scrollTo.end);
        rseq.showBioJsSequence({domainOrderId: rightdomain});
    });

    jQuery("#createBoundaryLibraryForm").submit(function(e) {
        var form = jQuery(this);
        var rows = form.find(".formSet");
        var stack = new Array();
        var parentRow = jQuery(rows[0]);
        var parentIndent = parentRow.data("indentLevel") || 0;
        var parentParent = "";
        for (var i = 1; i < rows.length; ++i) {
            var currRow = jQuery(rows[i]);
            var currIndent = currRow.data("indentLevel") || 0;
            if (currIndent > parentIndent) {
                var tmp = parentRow.find("input[type=text]");
                var lb = jQuery(tmp[0])
                var rb = jQuery(tmp[1])
                parentParent = parentRow.find("select").val() + "__" + lb.val() + "_" + rb.val();
                currRow.find("input[type=hidden]").val(parentParent);
                stack.push(parentRow);
                parentRow = currRow;
                parentIndent = currIndent;
            } else if (currIndent == parentIndent) {
                currRow.find("input[type=hidden]").val(parentParent);
            } else if (currIndent < parentIndent) {
                while (currIndent < parentIndent) {
                    parentRow = stack.pop();
                    parentIndent = parentRow.data("indentLevel") || 0;
                }
                parentParent = parentRow.find("input[type=hidden]").val();
                currRow.find("input[type=hidden]").val(parentParent);
            }
        }
    });

});


</script>
{% endblock %}
