{% load staticfiles %}

{% block js-include %}
<script src="{% static 'js/jquery.panzoom.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block js %}
<script type="text/javascript">
    var nrpEnabledEffects = false;
    var monomers = [
        {% for aa in substrates %}
            {id: {{ forloop.counter0 }}, text: '{{ aa.name }}', lid: {% firstof aa.L aa.D %}, did:
                {% firstof aa.D aa.L %}, LChildren : [
                {% for child in aa.LChildren %}
                    {text : '{{ child.name }}', id : '{{child.pk}}'},
                {% endfor %}
            ],
            DChildren : [
                {% for child in aa.DChildren %}
                    {text : '{{ child.name }}', id : '{{child.pk}}'},
                {% endfor %}
            ]},
        {% endfor %}
    ];
    var animationDuration = 300;
    var structAR = 16 / 9;
    var pid = {{pid}};

    function getMonomers()
    {
        var ids = Array();
        var selected = jQuery('#selected_monomers :input[type="checkbox"]');
        for (var i = 0; i < selected.length; ++i) {
            ids[i] = jQuery(selected[i]).attr("value");
        }
        return ids;
    }

    function makeStruct()
    {  if (nrpEnabledEffects){
       var ids = "?as=" + getMonomers().join("&as=");
       jQuery('#structimg').attr('src',"{% url 'Structure' %}" + ids);
       }

    }
    function editMonomer(e)
    {
        jQuery("#selected_monomers input[type=checkbox]:checked").prop("checked", false).button("refresh");
        jQuery(e.delegateTarget).prop("checked", true).button("refresh");
        jQuery('#e23').select2("val", jQuery(e.delegateTarget).data("selectid"));
        jQuery("#e23").data("currMonomer", e.delegateTarget);
        var data = jQuery('#e23').select2("data");
        var monomerId = jQuery(e.target).attr("value");
        if (monomerId == data.lid || data.LChildren.filter(function(value) {return value.id == monomerId}).length > 0) {
            jQuery("#monomer_chirality").buttonset("option", "disabled", data.lid == data.did);
            jQuery("#monomer_chirality_L").click();
        } else {
            jQuery("#monomer_chirality").buttonset("option", "disabled", data.lid == data.did);
            jQuery("#monomer_chirality_D").click();
        }
        jQuery("#monomer_chirality").buttonset("option", "disabled", data.lid == data.did);
        refreshModificationList();
        jQuery('#e11').select2("val", jQuery(e.delegateTarget).data("modId"));
    }

    function refreshModificationList(e) {
        jQuery("#e11").select2("val",null);
        var btn = jQuery(jQuery("#e23").data("currMonomer"));
        var select = jQuery('#e23');
        var data = select.select2("data");
        var chiralityChildren;
        if (jQuery("#monomer_chirality :checked").val() == 'L') {
            chiralityChildren = 'LChildren';
        } else {
            chiralityChildren = 'DChildren';
        }
        availableChildren = monomers[data.id][chiralityChildren];
        if (availableChildren.length > 0) {
            jQuery("#e11").select2({
               data: availableChildren,
               placeholder: "No modification selected",
               allowClear: true,
               formatResult: formatAAChild,
               dropdownCssClass: "bigdrop",
               escapeMarkup: function(m) { return m; }
               }).change(function(e){applyMonomerChild(e);});
            jQuery("#e11").select2("enable",true);

        } else {
            jQuery("#e11").select2({
               data: availableChildren,
               placeholder: "No modification available",
              });
            jQuery("#e11").select2("enable",false);
        }


    }
    function applyMonomer(e)
    {
        var btn = jQuery(jQuery("#e23").data("currMonomer"));
        var select = jQuery('#e23');
        var data = select.select2("data");
        var prefix;
        if (jQuery("#monomer_chirality :checked").val() == 'L') {
            btn.attr("value", data.lid);
            prefix = "L-"
        } else {
            btn.attr("value", data.did);
            prefix = "D-"
        }
        //clickable button should show if L- or D- except for glycine
        if (data.lid == data.did) {
            btn.button("option", "label", data.text);
        } else {
            btn.button("option", "label", prefix + data.text);
        }
        btn.data("selectid", data.id);

        jQuery("#monomer_chirality").buttonset("option", "disabled", data.lid == data.did);
        makeStruct();
        refreshModificationList();
    }

    function applyMonomerChild(e)
    {
        var btn = jQuery(jQuery("#e23").data("currMonomer"));
        var select = jQuery('#e11');
        if (select.select2('val') == "") {
            applyMonomer();
            btn.data("modId", "");
        } else {
            var data = select.select2("data");
            btn.button("option", "label", data.text);
            btn.attr("value", data.id);
            btn.data("modId", data.id);
        }
        makeStruct();
    }
    function removeMonomer(e)
    {
        var monomer = jQuery(e.delegateTarget).parent();
        if (nrpEnabledEffects) {
        monomer.animate({width:0, opacity: 0}, animationDuration, function(){monomer.remove();makeStruct();});
        } else {
            monomer.remove();
        }

    }
    function addMonomer(e)
    {
        var dflt = monomers[0]; //monomer selected by default is glycine
        var close = jQuery("<button>", {html: 'delete'});
        var id =  new Date().getTime();
        var aa = jQuery('<input type="checkbox" value="' + dflt['lid'] + '" id="' + id + '"/>');
        var label = jQuery('<label for="' + id + '" style="margin-bottom:0px"/>'); //margin: conflict with bootstrap
        aa.data("selectid", dflt.id);
        aa.data("modId", "");
        var div = jQuery('<div>').css("display", "inline-block").css("vertical-align", "bottom").append(close).append(aa).append(label);
        close.button({icons: {primary: "ui-icon-close"}, text: false}).click(removeMonomer);
        aa.button({label: dflt['text']}).click(editMonomer);
        div.buttonset();
        div.hide();
        var selected = jQuery("#selected_monomers");
        selected.append(div);
        div.fadeIn(animationDuration);
        if (nrpEnabledEffects) {
            selected.animate({scrollLeft: selected[0].scrollWidth}, animationDuration);
        }
        aa.click();
        jQuery("#struct").height(jQuery("#params").height());
        applyMonomer();
        return aa;
    }
    function formatAA(aminoAcid) {
        // if (!aminoAcid.id) return aminoAcid.text; // optgroup
        kek = "<img class='aminoAcid' height='50' width='50' src='{% url "Structure" %}"+  "?as=" + aminoAcid.lid + "'/>" + aminoAcid.text;
        return kek;
    }

    function formatAAChild(aminoAcid) {
        // if (!aminoAcid.id) return aminoAcid.text; // optgroup
        kek = "<img class='aminoAcid' height='50' width='50' src='{% url "Structure" %}"+  "?as=" + aminoAcid.id + "'/>" + aminoAcid.text;
        return kek;
    }

    function submit(e)
    {
        jQuery.post("{% url 'submitNRP' %}", {as: getMonomers()}, undefined, "text").done(function(data){alert(data);}).fail(function(){alert("failed");});
    }

    function makeConstruct(){
       jQuery("#tabs").tabs("disable",1);
       jQuery("#tabs").tabs("disable",2);
       jQuery("#tabs").tabs("disable",3);
       jQuery("#primerTab").attr("href", "");
       jQuery("#constructTab").attr("href", "");
       submitCeleryJob("{% url 'makeConstruct' pid %}", {curatedonly: jQuery('#chk_curatedonly').prop("checked")}, undefined, undefined, function(data){
            if (data[1].constructId != undefined)
                activateTabs(data);
            else
                jQuery.post("{% url 'getConstruct' pid %}").done(activateTabs);
        });
    }

    function activateTabs(data){
        data = data[1]
        console.log(data);
        constructId =  data["constructId"];
        if (constructId != 0) {
       jQuery("#primerTab").attr("href", data["primerTabLink"]);
       jQuery("#constructTab").attr("href", data["designTabLink"]);
       jQuery("#tabs").tabs("enable",1);
       jQuery("#tabs").tabs("enable",2);
       jQuery("#tabs").tabs("enable",3);
       jQuery("#tabs").tabs("option", "active", 2);
        } else {
            alert("ERROR");
        }
        if (typeof g_designer != 'undefined')
            g_designer.update();
    }


    function save(e)
    {
        jQuery.post("{% url 'saveNrpMonomers' pid %}", {as: getMonomers(), indtag: jQuery('#chk_indigoidinetag').prop("checked")}, makeConstruct, "text").fail(function(){alert("failed");});
    }


    jQuery(function() {
        var zoomMin = .1;
        var zoomMax = 5;
        var zoomStep = .1;

        jQuery("#organisms").select2();
        jQuery("#e23").select2({data: monomers,
            formatResult: formatAA,
            dropdownCssClass: "bigdrop",
            escapeMarkup: function(m) { return m; }}).change(function(e){applyMonomer(e);});
        jQuery("#e11").select2({
            data : [],
            placeholder: "No modification selected",
            allowClear: true,
            formatResult: formatAAChild,
            dropdownCssClass: "bigdrop",
            escapeMarkup: function(m) { return m; }
            }).change(function(e){applyMonomerChild(e);});
        jQuery("#monomer_chirality").buttonset().change(applyMonomer);
        jQuery("#monomer_add").button().click(addMonomer).click();
        //jQuery("#save").button().click(save).parent().buttonset();
        jQuery("#submit").button().click(save).parent().buttonset();
        jQuery("#chk_curatedonly").parent().buttonset();
        jQuery("#structimg").panzoom({minScale:zoomMin, maxScale:zoomMax, contain: true});
        jQuery("#structzoom").slider({min:zoomMin, max:zoomMax, step:zoomStep, animation: "fast", orientation: "vertical", value: 1, slide: function(event, ui){jQuery("#structimg").panzoom("option", "contain", ui.value > 1 ? "invert" : true).panzoom("zoom", ui.value);}});
        jQuery("#structimg").load(function(e){
            var structimg = jQuery(e.delegateTarget);
            structimg.data("__pz__")._buildContain(); // update panzoom dimensions
        });

        {% if substrateOrder %}
        jQuery('[title="delete"]').click();
        {% for monomer in substrateOrder|dictsort:"order" %}
        addMonomer();
        {% if monomer.substrate.hasParent %}
        tmpId = {{monomer.substrate.parent.pk}};
        selectId = monomers.filter(function(value) {return value.lid == tmpId || value.did == tmpId;})[0];
        jQuery('#e23').select2("val", selectId.id, triggerChange = true);
        if (tmpId == selectId.lid) {
                jQuery("#monomer_chirality_L").click();
        } else {
                jQuery("#monomer_chirality_D").click();

        }

        refreshModificationList();
        tmpId = {{monomer.substrate.pk}};
        jQuery('#e11').select2("val", tmpId, triggerChange=true);
        {% else %}
        tmpId = {{monomer.substrate.pk}};
        selectId = monomers.filter(function(value) {return value.lid == tmpId || value.did == tmpId;})[0];
        jQuery('#e23').select2("val", selectId.id, triggerChange = true);
        if (tmpId == selectId.lid) {
                jQuery("#monomer_chirality_L").click();
        } else {
                jQuery("#monomer_chirality_D").click();

        }

        {% endif %}
        {% endfor %}
        {% endif %}
        nrpEnabledEffects = true;
        makeStruct();

        });

</script>
{% endblock %}

{% block css-include %}
<style class="text/css">

	.box
	{
		padding:10px;
		border:1px solid gray;
		margin:0px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.box:nth-of-type(2)
    {
        margin-top: 10px;
    }

	.pop-up_box1
	.pop-up_box2
	.pop-up_box3
	{
        background-clip: padding-box;
        background-color: #E4E4E4;
        background-image: -moz-linear-gradient(center top , #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
        border: 1px solid #AAAAAA;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 0 2px #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        color: #333333;
        cursor: default;
        line-height: 13px;
        margin: 3px 0 3px 5px;
        padding: 3px 5px 3px 18px;
        position: relative;
	}

	.pop-up_box1
	.pop-up_box2
	{
        float: left;
        list-style: none outside none;
    }

    .pos_right
    {
        position:relative;
        right:-20px;
    }

</style>
{% endblock %}
{% block content %}
<h2>Welcome to the NRPS Designer Software by the iGEM Team Heidelberg 2013     
</h2>
<div style="text-align:center" class="span12">
        <a class="btn" onclick="introJs().start();"><i class="icon icon-info-sign"></i> Lead me around</a>
    </div>

<div class="row-fluid">
<div class="span8" id="params" >
    <div class="box" data-intro="In this step you can select whether you want to attach a Indigoidine tag to your final NRP and if you want all domains used to be curated rather than domains entered by any user." data-step="2">
        <p>Options:</p>
        <div>
            <input type="checkbox" id="chk_curatedonly" checked="checked"/><label for="chk_curatedonly" style="margin-bottom:0">Use curated domains only</label>
            <input type="checkbox" id="chk_indigoidinetag"{% if indigoidineTagged %} checked="checked"{% endif %}/><label for="chk_indigoidinetag" style="margin-bottom:0">Tag NRP with Indigoidine</label>
        </div>
    </div>
    <div class="box" data-intro="In this box you can choose the amino acid of your choice in L or D-form, if available. Press 'Add Monomer' in order to extend the peptide chain by 1 amino acid. Once you are done and you want to get your predicted domains, just press on 'Design Construct' " data-step="3">
        <p> Please choose amino acids you want to integrate into your peptide! </p>
        <div id="e23" style="width:100%"></div>
        <div id="monomer_chirality">
            </br>
            <input type="radio" name="chirality" value="L" id="monomer_chirality_L" checked="checked"/><label for="monomer_chirality_L">L-configuration</label>
            <input type="radio" name="chirality" value="D" id="monomer_chirality_D"/><label for="monomer_chirality_D">D-configuration</label>
        </div>

        <div>
            </br>
            <p>Select a possible amino acid modification, if you like!</p>
            <div id="e11" style="width:100%"></div>
        </div>

        <div id="selected_monomers" style="white-space:nowrap;overflow:auto;margin-top:5px;margin-bottom:5px;padding-top:5px;padding-bottom:5px;"></div>
        <div>
            <button id="monomer_add">Add monomer</button>
            <button id="submit">Design construct</button>
        </div>
    </div>
</div>

<div class="span4" id="struct">
    <div class="box" style="height:100%;-moz-box-sizing:border-box;box-sizing:border-box;" data-intro="This box contains a visual representation of the peptide you are about to design a synthetic NRPS for." data-step="4">
            <div id="structzoom" style="float:left;height:100%;"></div>
            <div style="height:100%;text-align:center;">
                <img id="structimg" alt="" src = "{% url 'Structure' %}{{initialPic}}" style="height:100%;">
            </div>
    </div>
</div>
</div>

{% endblock %}