
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Add new origin</h3>
</div>
<div class="modal-body">
  <form id="addOriginForm" action="" method="post">
  {{ form.as_p }}

  {{ originLinkoutSet.management_form }}
  <div style="margin-left:1.5%;">
<label >References:</label>
  {% for originLinkout in originLinkoutSet %}

<div class="originLinkoutSet">
  {{ originLinkout.errors}}
  {{ originLinkout.linkoutType }}
  {{ originLinkout.identifier }}
</div>
</div>


  {% endfor %}
  </div>
  <div class="modal-footer">
    <button id="closeOriginModal" class="btn" data-dismiss="modal" type="button" aria-hidden="true">Close</button>
    <button id="submitOrigin" type="button" class="btn btn-inverse">Submit Origin</button>
  </div>

</form>
</div>

<script>

jQuery(".originLinkoutSet").formset({addText:'<i class="icon-plus"></i>',
        deleteText:'<i class="icon-remove"></i>',
        prefix: '{{ originLinkoutSet.prefix }}',
      });
jQuery("#submitOrigin").click(function() {
    jQuery.post("{% url "saveOrigin" %}", jQuery("#addOriginForm, #cdsFormForDomainPrediction").serialize(), function(data){
        if (data[0] === AJAX_ERROR){
            jQuery("#myModal").html(data[1].html);
        } else {
            jQuery("#tabs").tabs("disable",1);
            jQuery("#myModal").modal('hide');
            jQuery("#cdsInputTab").html(data[1].html);
        }
    });
  });
</script>