
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Add new origin</h3>
</div>
<div class="modal-body">
  <form id="addOriginForm" action="" method="post">
  {{ form.as_p }}

  </div>
  <div class="modal-footer">
    <button id="closeOriginModal" class="btn" data-dismiss="modal" type="button" aria-hidden="true">Close</button>
    <button id="submitOrigin" type="button" class="btn btn-inverse">Submit Origin</button>
  </div>

</form>
</div>

<script>


jQuery("#submitOrigin").button().click(function() {
    jQuery.post("{% url "saveOrigin" %}", jQuery("#addOriginForm, #cdsFormForDomainPrediction").serialize(), function(data){
      if (data[0] === AJAX_ERROR){
        jQuery("#myModal").html(data[1].html);
      } else {
        jQuery("#tabs").tabs("disable",1);
        jQuery("#cdsInputTab").html(data[1].html);

        jQuery("#tabs").tabs("disable",1);});

        jQuery("#myModal").modal('hide')
    }
  });
  });
</script>