{% extends "base.html" %}
	
{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/designer.css" />

{% endblock %}

{% block js-include %}
{% endblock %}


{% block content %}


	
			<ul class="nav nav-tabs" id="tabs">

		
				<li  class="active" >
					<a href="#cdsInputTab" data-toggle="tab" data-intro="This is a tab" data-step="1">
						New NRPS
					</a>
				</li>
				<li id="domainInputTab" style="display:none;" >
					<a href="#domainInput" data-toggle="tab">
					Domain Prediction
					</a>
				</li>

	
			</ul>
			
			<div class="tab-content">
				     <div class="tab-pane active" id='cdsInputTab'>
                		{% include 'databaseInput/cdsInputTab.html' %}
					</div>

					 <div class="tab-pane" id='domainInput'>
					  Hi!
					</div>
			</div>

            
		


{% endblock %}


{% block js %}
<script type='text/javascript'>



	jQuery(document).ready( function($) {
	
	
	});



</script>
{% endblock %}
