
{% if djangoSuccess %}

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {% autoescape off %}
    {{djangoSuccess}}
{% endautoescape %}

</div>

{% endif %}

{% if djangoError %}

<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {% autoescape off %}
    {{djangoError}}
{% endautoescape %}

</div>

{% endif %}

        {{ form.non_field_errors }}
        <form id="cdsFormForDomainPrediction">
        <div class="row">
          <div class="span3">
                   <div class="fieldWrapper">
            {{ form.origin.errors }}
            <label for="id_origin"></label>
            <div id="originChosenWrapper" class = "chosenWrapper">
              {{ form.origin }} <br/>
            </div>
            </div>

            <div class="fieldWrapper">
            {{ form.product.errors }}
            <label for="id_product"></label>
            <div id="productChosenWrapper" class = "chosenWrapper">
              {{ form.product }} <br/>
            </div>
            </div>

            <div class="fieldWrapper">
              {{ form.dnaSequence.errors }}
              <label for="id_dnaSequence">Please enter DNA sequence: <br/> </label>
              {{ form.dnaSequence }} <br/>
              <div class="btn-group">
                <button type="button" id="domainGenerator" class="btn" onclick="predictDomains()"> Generate Domains!</button>

              </div>

            </div>
          </div>

          <div class="span3">
<a href="{% url 'addOrigin' %}" role="button" class="btn btn-link" data-toggle="modal"  data-target="#myModal">   Or add new Origin</a>


<a href="{% url 'addProduct' %}" role="button" class="btn btn-link" data-toggle="modal"  data-target="#myModal">   Or add new Product</a>

<div class="modal hide fade"  id="myModal"></div>


            <div class="fieldWrapper">
              {{ form.geneName.errors }}
              <label for="id_message">Gene Name:<br/> </label>
              {{ form.geneName }}
            </div>
            <div class="fieldWrapper">
              {{ form.description.errors }}
              <label for="id_sender">Description:<br/> </label>
              {{ form.description }}
            </div>
          </div>
          <div class="span4" id="statusLog">
           </div>
        </div>
        </form>


<script type="text/javascript">
// code from http://blog.assimov.net/blog/2012/03/09/ajax-content-in-twitter-bootstrap-modal/
// adapted from coffeescript to javascript
// enables use of Bootstrap modal to load other html pages


    jQuery("a[data-toggle=modal]").click(function() {
  var target, url;
  target = jQuery(this).attr('data-target');
  url = jQuery(this).attr('href');
  return jQuery(target).load(url);
});

function predictDomains(){
    jQuery("#domainGenerator").prop('disabled', true);
    jQuery("ul.errorlist").remove();
    jQuery("#tabs").tabs("disable",1);
    submitCeleryJob("{% url "startDomainPrediction" %}", jQuery("#cdsFormForDomainPrediction").serialize(), undefined, function(data){
        jQuery("#cdsInputTab").html(data[1].html);
        jQuery("#domainGenerator").prop('disabled', false);
    }, function(data) {
        taskId = data[1].taskId;
        getPredictedDomains(taskId);
    });
};

function getPredictedDomains(taskId){
  jQuery("ul.errorlist").remove();
    jQuery.post("{% url "getPredictedDomainFormsetBase" %}" +taskId).done(function(data){
      if (data[0] === AJAX_ERROR){
        jQuery("#cdsInputTab").html(data[1].html);
      } else {
       jQuery("#domainInput").html( data[1].html);

       jQuery("#tabs").tabs("enable",1);
       jQuery("#tabs").tabs( "option", "active", 1);
       jQuery("#domainGenerator").prop('disabled', false);
      }

    });
  };

{% if not isAjax %}
jQuery(document).ready(function() {
{% endif %}

          jQuery('#id_cds-product > option').filter(':first').html('');
          jQuery('#id_cds-origin > option').filter(':first').html('');
          jQuery("#id_cds-product, #id_cds-origin").select2({placeholder: "Choose existing"});
          jQuery("#cdsFormForDomainPrediction").change(function() {
           jQuery("#tabs").tabs("disable",1);});



{% if not isAjax %}
});
{% endif %}

    // function activateTabs(data){
    //     console.log(data);
    //     data = jQuery.parseJSON(data);
    //     constructId =  data["constructId"];
    //     if (constructId != 0) {
    //    jQuery("#tabs").tabs("enable",1);

    //     } else {
    //         alert("ERROR");
    //     }
    // }

</script>