<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>Multiple Sequence Alignment</title>

<script>
{% autoescape off %}
var jsonMSA = {{ jsonMSA }};
{% endautoescape %}

// the following code is based on the Kalignvu tool by Timo Lassmann timolassmann@gmail.com

MSAlignment = function(jsonMSA) {
    this.gCanvasElement; this.size = 0; this.clickX = 0; this.clickY = 0; this.Xpos = 0; this.Ypos = 0; this.hydrophobicity_array = 0; this.click = 0;
    this.fontsize = 8;
    this.name_width = 15;
    this.font_string  = "8pt monospace";
    this.aln_len = jsonMSA.msaSeqs[0].length;
    this.numseq = jsonMSA.msaSeqs.length;
    this.hydrophobicity_array = new Array(this.numseq);
    for(i = 0;i < this.numseq;i++){
	this.hydrophobicity_array[i] = new Array(this.aln_len);
    }
    this.a = new Array(this.numseq);
for (var i = 0; i < this.a.length; i++) {
    this.a[i] = new String (jsonMSA.msaSeqs[i]);
}

    this.n = new Array(this.numseq);
for (var i = 0; i < this.n.length; i++) {
    this.n[i] = new String (jsonMSA.msaNames[i]);
}
    this.div = document.getElementById('msaDrawzone');
    this.gCanvasElement = document.getElementById("alignment");
    this.drawing = new Object()
    this.drawing.xpos = 0;
    this.drawing.ypos = 0;
    
    this.scheme = 2;
    this.conservation_routine();
}

MSAlignment.prototype = new Object();

MSAlignment.prototype.init = function()
{
	this.gCanvasElement.width=1 * jQuery(msa.div).parents(".modal").width();
	this.gCanvasElement.height=3 * jQuery(msa.div).parents(".modal").height();
	jQuery(this.gCanvasElement).on("mousedown", this, this.record_pos);
	jQuery(this.gCanvasElement).on("mouseup", this, this.record_pos);
	jQuery(document).on("keydown", this, this.onKeyDown);
	jQuery(this.gCanvasElement).on("click", this, this.reset_click);
}

MSAlignment.prototype.onKeyDown = function(evt) {
var msaObject = evt.data;
var element;var jump = 1;
if(msaObject.fontsize <= 8) {
	jump = 5;
}
	if (evt.keyCode == 39) msaObject.draw(msaObject.Xpos+jump, msaObject.Ypos ,0);
	else if (evt.keyCode == 40)msaObject.draw(msaObject.Xpos,  msaObject.Ypos+jump ,0);
	else if (evt.keyCode == 38)msaObject.draw(msaObject.Xpos,  msaObject.Ypos-jump ,0);
	else if (evt.keyCode == 37)msaObject.draw(msaObject.Xpos-jump,  msaObject.Ypos ,0);
	else if (evt.keyCode == 189)msaObject.draw(0, 0 , -4);
	else if (evt.keyCode == 187)msaObject.draw(0, 0 , 4);
	else if (evt.keyCode == 109)msaObject.draw(0, 0 , -4);
	else if (evt.keyCode == 61)msaObject.draw(0, 0 , 4);
}

MSAlignment.prototype.Custom1_annotation = function(x,ctx) {
switch (x){
	case 'A':
	case 'F':
	case 'I':
	case 'L':
	case 'M':
	case 'V':
	case 'W':
	case 'Y':
		ctx.fillStyle = "#ffff00";
		break;
	case 'B':
		ctx.fillStyle = "#ffffff";
		break;
	case 'C':
		ctx.fillStyle =  "#00bfff";
		break;
	case 'G':
	case 'P':
		ctx.fillStyle =  "#00ffff";
		break;
	case 'H':
	case 'K':
	case 'R':
		ctx.fillStyle= "#00ff00";
		break;
	case 'D':
	case 'E':
	case 'N':
	case 'Q':
	case 'S':
	case 'T':
		ctx.fillStyle= "#f08080";
		break;
	default:
		ctx.fillStyle = "#ffffff";
		break;
}
}

MSAlignment.prototype.Custom2_annotation = function(x,ctx) {
switch (x){
	case 'B':
	case 'Z':
		ctx.fillStyle = "#ffffff";
		break;
	case 'A':
	case 'C':
	case 'F':
	case 'I':
	case 'L':
	case 'M':
	case 'V':
	case 'W':
		ctx.fillStyle = "#00bfff";
		break;
	case 'D':
	case 'E':
		ctx.fillStyle = "#ba55d3";
		break;
	case 'G':
		ctx.fillStyle = "#ffa500";
		break;
	case 'H':
		ctx.fillStyle = "#87cefa";
		break;
	case 'K':
	case 'R':
		ctx.fillStyle = "#ff0000";
		break;
	case 'N':
	case 'Q':
	case 'S':
	case 'T':
		ctx.fillStyle = "#00ff00";
		break;
	case 'P':
		ctx.fillStyle =  "#ffff00";
		break;
	case 'Y':
		ctx.fillStyle =" #87cefa";
		break;
	default:
		ctx.fillStyle = "#ffffff";
		break;
}
}

MSAlignment.prototype.hydro_annotation= function(x,ctx) {
switch (x){
	case -4:
		ctx.fillStyle = "#00008b";
		break;
	case -3:
		ctx.fillStyle = "#0000ff";
		break;
	case -2:
		ctx.fillStyle = "#1e90ff";
		break;
	case -1:
		ctx.fillStyle = "#87cefa";
		break;
	case 0:
		ctx.fillStyle = "#ffffff";
		break;
	case 1:
		ctx.fillStyle = "#ffb6c1";
		break;
	case 2:
		ctx.fillStyle = "#ff6347";
		break;
	case 3:
		ctx.fillStyle = "#dc143c";
		break;
	case 4:
		ctx.fillStyle = "#bdb76b";
		break;
	default:
		ctx.fillStyle = "#ffffff";
		break;
}
}

MSAlignment.prototype.kdval = function(x) {
switch (x){
	case 'A':
		return 1.8;
		break;
	case 'B':
		return 0;
		break;
	case 'C':
		return 2.5;
		break;
	case 'D':
		return -3.5;
		break;
	case 'E':
		return -3.5;
		break;
	case 'F':
		return 2.8;
		break;
	case 'G':
		return -0.4;
		break;
	case 'H':
		return -3.2;
		break;
	case 'I':
		return 4.5;
		break;
	case 'J':
		return 0;
		break;
	case 'K':
		return -3.9;
		break;
	case 'L':
		return 3.8;
		break;
	case 'M':
		return 1.9;
		break;
	case 'N':
		return -3.5;
		break;
	case 'O':
		return 0;
		break;
	case 'P':
		return -1.6;
		break;
	case 'Q':
		return -3.5;
		break;
	case 'R':
		return -4.5;
		break;
	case 'S':
		return -0.8;
		break;
	case 'T':
		return -0.7;
		break;
	case 'U':
		return 0;
		break;
	case 'V':
		return 4.2;
		break;
	case 'W':
		return -0.9;
		break;
	case 'X':
		return 0;
		break;
	case 'Y':
		return -1.3;
		break;
	case 'Z':
		return 0;
		break;
}
}

MSAlignment.prototype.default_dna_annotation = function(x,ctx) {
switch (x){
	case 'A':
		ctx.fillStyle = "#8470ff";
		break;
	case 'C':
		ctx.fillStyle = "#f4a460";
		break;
	case 'G':
		ctx.fillStyle = "#f08080";
		break;
	case 'T':
		ctx.fillStyle = "#90ee90";
		break;
	case 'U':
		ctx.fillStyle = "#d3d3d3";
		break;
	default:
		ctx.fillStyle = "#ffffff";
		break;
}
}

MSAlignment.prototype.strong_dna_annotation = function(x,ctx) {
switch (x){
	case 'A':
		ctx.fillStyle = "#32cd32";
		break;
	case 'C':
		ctx.fillStyle = "#4169e1";
		break;
	case 'G':
		ctx.fillStyle = "#ffa500";
		break;
	case 'T':
		ctx.fillStyle = "#ff0000";
		break;
	case 'U':
		ctx.fillStyle = "#ffffff";
		break;
	default:
		ctx.fillStyle = "#ffffff";
		break;
}
};

MSAlignment.prototype.hydrophobicity = function(x) {
var run  = 0;var c = 0;var score = 0;
var tmp =  new Array (this.aln_len);
var tmp_val =  new Array (this.aln_len);
// var kd = [1.8,0,2.5,-3.5,-3.5,2.8,-0.4,-3.2,4.5,0,-3.9,3.8,1.9,-3.5,0,-1.6,-3.5,-4.5,-0.8,-0.7,0,4.2,-0.9,0,-1.3,0];
if ( typeof this.hydrophobicity.window == 'undefined' ) {
		this.hydrophobicity.window = x;
		run  = 1;	}else{ 
		if (this.hydrophobicity.window!= x ) {
			this.hydrophobicity.window = x;
			run  = 1;		}
	}
	if (run == 1) {
		for(i = 0;i < this.numseq;i++){
			for(j = 0;j < this.aln_len;j++){
				this.hydrophobicity_array[i][j] = -99;
			}
		}
		for(i = 0;i < this.numseq;i++){
			c  = 0;
			for(j = 0;j < this.aln_len;j++){
				if(this.a[i].charAt (j) >= 'A' && this.a[i].charAt (j) <= 'Z'){
					tmp[c] = this.a[i].charAt(j);
					c = c + 1;
				}
			}
			for(j = 0;j < this.aln_len;j++){
				tmp_val[j] = -99;
			}
			for (j = 0;j <= c - x;j++){
				score = 0;
				for ( g = 0; g < x;g++){
					score += this.kdval (tmp[j+g]);
				}
				score =  score / x;
				tmp_val[parseInt(j+ x/2)] = parseInt(score);
			}
			c  = 0;		
			for(j = 0;j < this.aln_len;j++){
				if(this.a[i].charAt (j) >= 'A' && this.a[i].charAt (j) <= 'Z'){
					this.hydrophobicity_array[i][j]  = tmp_val[c];
					c = c + 1;
				}
			}
		}
	}
};

MSAlignment.prototype.conservation_routine = function() {
var run  = 0;var c = 0;var score = 0;var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";var tmp =  new Array (26);
for(i = 0;i < this.aln_len;i++){
	for(j = 0;j < 26;j++){
		tmp[j] = 0;
	}
	for(j = 0;j < this.numseq;j++){
		c = alphabet.indexOf(this.a[j].charAt (i)) ;
		if(c != -1){
			tmp[c] = tmp[c] + 1;
		}
	}
	c = -1;
	for(j = 0;j < 26;j++){
		if(tmp[j] / this.numseq> c){
			c = tmp[j] /this.numseq;
		}
	}
	if (c > 0.9) score = 10;
	else if (c > 0.8)score = 9;
	else if (c >0.7)score = 8;
	else if (c > 0.6 )score = 7;
	else if (c > 0.5)score = 6;
	else if (c > 0.4)score = 5;
	else if (c > 0.3)score = 4;
	else if (c > 0.2 )score = 3;
	else score = 2;
	for(j = 0;j < this.numseq;j++){
		c = alphabet.indexOf(this.a[j].charAt (i)) ;
		if(c != -1){
			this.hydrophobicity_array[j][i] = score;
		}else{
			this.hydrophobicity_array[j][i] = 2;
		}
	}
}
}

MSAlignment.prototype.conservation_color = function(x,ctx) {
switch (x){
	case 10:
		ctx.fillStyle = "#0000ff";
		break;
	case 9:
		ctx.fillStyle = "#0000cd";
		break;
	case 8:
		ctx.fillStyle = "#7b68ee";
		break;
	case 7:
		ctx.fillStyle = "#8470ff";
		break;
	case 6:
		ctx.fillStyle = "#87ceeb";
		break;
	case 5:
		ctx.fillStyle = "#87cefa";
		break;
	case 4:
		ctx.fillStyle = "#add8e6";
		break;
	case 3:
		ctx.fillStyle = "#e0ffff";
		break;
	case 2:
	default:
		ctx.fillStyle = "#ffffff";
		break;
}
}

MSAlignment.prototype.change_scheme = function(val)
{
	if(val > 6){
		this.hydrophobicity(val);
		this.scheme = 5;
	}else if(val ==2){
		this.conservation_routine();
		this.scheme = 2 ;
	}else{
	this.scheme = val;
}
}

MSAlignment.prototype.reset_click = function(evt)
{
	evt.data.click = 0;
}


MSAlignment.prototype.record_pos = function(e)
{
var msaObject = e.data;
var x;
var y;
var x_move;
var y_move;
var xoffset = msaObject.name_width*(msaObject.fontsize + 4) +10;
if (e.pageX || e.pageY) {
	x = e.pageX;
	y = e.pageY;
} else {
	x = e.clientX +document.body.scrollLeft + document.documentElement.scrollLeft;
y = e.clientY +document.body.scrollTop + document.documentElement.scrollTop;
}
	x -= msaObject.gCanvasElement.offsetLeft;
	y -= msaObject.gCanvasElement.offsetTop;
if(y <  50 && x > xoffset){
 x_move = parseInt((x- xoffset) / (msaObject.gCanvasElement.width- xoffset) * msaObject.aln_len);
 y_move = Ypos;
	msaObject.draw(x_move, y_move,0);
	msaObject.click = 0;
}
if(msaObject.click == 0){
 msaObject.clickX = x;
 msaObject.clickY = y;
	msaObject.click = 1;
}else{
	x_move = msaObject.Xpos+ parseInt((msaObject.clickX - x) /  (msaObject.fontsize + 4));
	y_move = msaObject.Ypos+ parseInt((msaObject.clickY - y) /  (msaObject.fontsize + 4));
if(x_move < 0){
	x_move = 0;
}
	msaObject.draw(x_move, y_move,0);
	msaObject.click = 0;
}
}

// maybe improved...
MSAlignment.prototype.showValue = function(newValue)
{
	document.getElementById("range").innerHTML=newValue;
}

MSAlignment.prototype.draw = function(x,y,size) {
var yoffset = 50;var xoffset = 0;
if(x !=  0) {
	this.drawing.xpos = parseInt(x);}
if(y !=  0) {
	this.drawing.ypos = parseInt(y);}
if(this.drawing.ypos +10 >  this.numseq ) {
	this.drawing.ypos = this.numseq - 10;
}
if(this.drawing.xpos +10 >  this.aln_len ) {
	this.drawing.xpos = this.aln_len - 10;
}
if(this.drawing.ypos < 0 ) {
	this.drawing.ypos = 0;
}
if(this.drawing.xpos  <  0  ) {
	this.drawing.xpos = 0;
}
if(size != 0){
	this.fontsize = this.fontsize + size;
	if(this.fontsize  <  4  ) 	this.fontsize = 4;
	if(this.fontsize  > 96  ) 	this.fontsize = 96;
	this.font_string = this.fontsize +  "pt monospace";
}
this.Xpos = this.drawing.xpos;xoffset = this.name_width*(this.fontsize + 4) +10;//var canvas = document.getElementById("alignment");
if (this.gCanvasElement.getContext) {
var ctx = this.gCanvasElement.getContext("2d");
ctx.clearRect(0,0,this.gCanvasElement.width,this.gCanvasElement.height);
	ctx.beginPath();
	ctx.moveTo(xoffset,30);
	ctx.lineTo(this.gCanvasElement.width,30);
	ctx.strokeStyle = "#000";
	ctx.closePath();
	ctx.stroke();
	ctx.font =  "12pt monospace";

	for(j = 0; j < this.aln_len;j +=100 ){
		ctx.fillStyle = "#0000000";
		ctx.fillText(j, j / this.aln_len*  (this.gCanvasElement.width- xoffset)  + xoffset,25);
		ctx.beginPath();
		ctx.moveTo( j / this.aln_len*  (this.gCanvasElement.width- xoffset)  + xoffset,25);
		ctx.lineTo( j / this.aln_len*  (this.gCanvasElement.width- xoffset)  + xoffset,35);
		ctx.strokeStyle = "#000";
		ctx.closePath();
		ctx.stroke();
	}
	ctx.beginPath();
	ctx.rect((this.Xpos /  this.aln_len) *  (this.gCanvasElement.width- xoffset)  + xoffset , 10, 3, 40);
	ctx.fillStyle = "#F62817";
	ctx.fill();
	ctx.fillStyle = "#000000";
if((this.numseq - this.drawing.ypos) * (this.fontsize + 4) <  this.gCanvasElement.height-yoffset){
	this.drawing.ypos  =  parseInt(this.numseq  -  parseInt((this.gCanvasElement.height-yoffset)   /    ( this.fontsize  + 4))); 	
	if(this.drawing.ypos < 0 ) {
		this.drawing.ypos = 0;
	}
}
this.Ypos = this.drawing.ypos;	ctx.font = this.font_string;
for(i = this.drawing.ypos;i < this.numseq;i++){
	for(j = 0; j < this.name_width;j++){
		ctx.fillText(this.n[i].charAt (j), (j+1) * (this.fontsize + 4), (i+1  - this.drawing.ypos)*(this.fontsize+4)+yoffset);
	}
	for(j = this.drawing.xpos; j < this.aln_len;j++){
		switch (parseInt(this.scheme)){
			case 0:
				this.Custom1_annotation(this.a[i].charAt (j),ctx);
				break;
			case 1:
				this.Custom2_annotation(this.a[i].charAt (j),ctx);
				break;
			case 2:
				this.conservation_color(this.hydrophobicity_array[i][j] ,ctx);
				break;
			case 3:
				this.default_dna_annotation(this.a[i].charAt (j) ,ctx);
				break;
			case 4:
				this.strong_dna_annotation(this.a[i].charAt (j) ,ctx);
				break;
			case 5:
				this.hydro_annotation(this.hydrophobicity_array[i][j] ,ctx);
				break;
			default:
				this.conservation_color(this.hydrophobicity_array[i][j] ,ctx);
				break;
}
		ctx.beginPath();
		ctx.rect((j-this.drawing.xpos) * (this.fontsize + 4)-4+xoffset, (i  - this.drawing.ypos)*(this.fontsize+4)+yoffset +4, (this.fontsize + 4), (this.fontsize + 4));
		ctx.fill();
	ctx.fillStyle = "#000000";
		ctx.fillText(this.a[i].charAt (j), (j-this.drawing.xpos) * (this.fontsize + 4)+xoffset, (i+1  -this.drawing.ypos)*(this.fontsize+4)+yoffset);
		if((j-this.drawing.xpos)* (this.fontsize + 4)> this.gCanvasElement.width){
			j = this.aln_len
		}
	}
}
}
}
/*init();draw(0,0,0);*/
msa = new MSAlignment(jsonMSA);
msa.init();msa.draw(0,0,0);
</script>
</head>

<body>

	Change color-scheme:<select onchange="msa.change_scheme(this.value); msa.draw(0,0,0); ">
		<option value="2" selected>Conservation</option>
		<option value="0">Custom1</option>
		<option value="1">Custom2</option>
		<option value="7">Hydrophobicity1</option>
		<option value="10">Hydrophobicity2</option>
		<option value="3">Default DNA Annotation</option>	
		<option value="4">Strong DNA Annotation</option>
                
	</select>
	<div id="msaDrawzone"><canvas id="alignment"></canvas></div>


	</body>
    
</html>
