{% extends "base.html" %}

{% block no-app-menu %}
{% endblock %}

{% block content %}

    <div class="hero-unit">
    <h1>NRPSDesigner</h1>
    <p>    Welcome to the NRPSDesigner of <a href="http://2013.igem.org/Team:Heidelberg"> iGEM Team Heidelberg 2013! </a> </p>

        {% if not user.is_authenticated %}

<p>In order to get started, please choose one of the options below:
    </p>
    <div class="span8">
    <div class="btn-group">

   <a href="{% url 'registration_register' %}" class="btn btn-large">  <i class="icon-heart"> </i> Register
    </a>
    <a href="http://2013.igem.org/Team:Heidelberg/Project_Software" class="btn btn-large"> <i class="icon-book"> </i>   Read about it
    </a>
     
    </div>
    </div>
    {% else %}
   <p>Thanks for logging in, {{ user.username }}! </p>
    <div class="span8">
    <div class="btn-group">

   <a href="{% url 'peptides' %}" class="btn btn-large">  <i class="icon-ok"> </i> Start designing
    </a>
    <a href="http://2013.igem.org/Team:Heidelberg/Project_Software" class="btn btn-large"> <i class="icon-book"> </i>   Read about it
    </a>
  
    </div>
    </div>
  
    {% endif %}
{% endblock %}
