{% extends "base.html" %}

{% block no-app-menu %}
{% endblock %}

{% block content %}

    <div class="hero-unit" data-intro="Lorem ipsum..." data-step="1">
    <h1>NRPS Designer</h1>
    <p>    Welcome to the NRPS Designer! The button below does absolutely nothing!</p>
    <p> You can still try to push though! </p>
    <p>
    <a href="http://www.youtube.com/watch?v=oHg5SJYRHA0" class="btn btn-inverse btn-large">     <i class="icon-heart icon-white"></i>      push
    </a>
    </p>
    </div>

    <div class="span8">
	<a class="btn" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how this works!</a>
	</div>
{% endblock %}
